h1{
    color:aqua
}

.header{
    background-color: rgb(137, 196, 250);
    display:flex;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
p{
    text-align: center;
    font-size: 28px
}
body{
    background-color: rgb(18, 160, 170);
}